@font-face {
  font-family: 'B-Titr';
  src: url('../fonts/B-Titr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
